<div id="tab1" class="col s12">
    <div class="container">
        <h1>Bewegungsablauf</h1>
        <object data="/assets/downloads/Abgabe_2.1_Maximilian_Hartmut_Schoradt_851077.pdf" type="application/pdf" width="100%" height="1024px">
            <embed src="/assets/downloads/Abgabe_2.1_Maximilian_Hartmut_Schoradt_851077.pdf" type="application/pdf">
        </object>
        <a href="/assets/downloads/Abgabe_2.1_Maximilian_Hartmut_Schoradt_851077.pdf" download>Download</a>
    </div>
</div>
<div id="tab2" class="col s12">
    <div class="container">
        <h1>Farbwirkung mit Begriffen</h1>
        <object data="/assets/downloads/Abgabe_2.2_Maximilian_Hartmut_Schoradt_851077.pdf" type="application/pdf" width="100%" height="1024px">
            <embed src="/assets/downloads/Abgabe_2.2_Maximilian_Hartmut_Schoradt_851077.pdf" type="application/pdf">
        </object>
        <a href="/assets/downloads/Abgabe_2.2_Maximilian_Hartmut_Schoradt_851077.pdf" download>Download</a>
    </div>
</div>
<div id="tab3" class="col s12">
    <div class="container">
        <h1>Typografie anhand verschiedener Begriffe</h1>
        <object data="/assets/downloads/Abgabe_3.1_Maximilian_Hartmut_Schoradt_851077.pdf" type="application/pdf" width="100%" height="1024px">
            <embed src="/assets/downloads/Abgabe_3.1_Maximilian_Hartmut_Schoradt_851077.pdf" type="application/pdf">
        </object>
        <a href="/assets/downloads/Abgabe_3.1_Maximilian_Hartmut_Schoradt_851077.pdf" download>Download</a>
    </div>
</div>
<div id="tab4" class="col s12">
    <div class="container">
        <h1>Raster</h1>
        <a href="/assets/downloads/Abgabe_3.Raster_Maximilian_Hartmut_Schoradt_851077.ai" download>Download</a>
    </div>
</div>