<div class="container">
    <h1>Impressum</h1>
    <h2 id="m46">Diensteanbieter</h2>
    <p>schfug UG (haftungsbeschränkt).</p>
    <p>Holunderweg 25.</p>
    <p>42699 Solingen.</p>
    <p>Deutschland.</p>
    <h2 id="m56">Kontaktmöglichkeiten</h2><p>E-Mail-Adresse: schorradt@tech-effect.de.</p>
    <p>Telefon: 015165127183.</p>
    <h2 id="m58">Angaben zum Unternehmen</h2><p>Umsatzsteuer Identifikationsnummer (USt-ID): DE326141483.</p>
    <h2 id="m151">Register und Registernummer</h2><p>Handelsregister</p>
    <p>Geführt bei: Amtsgericht Wuppertal.</p>
    <p>Nummer: HR B 30137.</p>
    <p class="seal"><a href="https://datenschutz-generator.de/?l=de" title="Rechtstext von Dr. Schwenke - für weitere Informationen bitte anklicken." target="_blank" rel="noopener noreferrer nofollow">Erstellt mit kostenlosem Datenschutz-Generator.de von Dr. Thomas Schwenke</a></p>
</div>