<nav class="nav-extended">
    <div class="nav-wrapper">
        <a routerLink="/" class="brand-logo">Maximilian H. Schorradt</a>
        <ul id="nav-mobile" class="right">
            <li routerLinkActive="active" routerLink="/aboutme"><a routerLink="/aboutme">About Me</a></li>
            <li routerLinkActive="active" routerLink="/mediengestaltung"><a routerLink="/mediengestaltung">Mediengestaltung</a></li>
            <li routerLinkActive="active" routerLink="/fotografie"><a routerLink="/fotografie">Fotografie</a></li>
            <li routerLinkActive="active" routerLink="/medienkompetenz"><a routerLink="/medienkompetenz">Medienkompetenz</a></li>
            <li routerLinkActive="active" href="kontakt.html"><a href="kontakt.html">Kontakt</a></li>
        </ul>
    </div>
    <div class="nav-content">
        <ul class="tabs tabs-transparent" *ngIf="tabs.tabs.length > 0">
            <li class="tab" *ngFor="let tab of tabs.tabs"><a [href]="'#' + tab.id">{{ tab.title }}</a></li>
        </ul>
    </div>
</nav>
<router-outlet></router-outlet>
<footer class="page-footer teal">
    <div class="container">
        <div class="row">
            <div class="col l4 s12">
                <h5 class="white-text">Maximilian H. Schorradt</h5>
                <p class="grey-text text-lighten-4">Ich studiere aktuell Medientechnik an der HSD und programmiere in
                    der Freizeit Websites oder Lichtshows für Veranstaltungen (grandMA 2). Für Anfragen bitte eine <a
                            href="mailto:schorradt@tech-effect.de" class="brown-text text-lighten-3">E-Mail</a>
                    schreiben oder das <a href="kontakt.html" class="brown-text text-lighten-3">Kontaktformular</a>
                    nutzen. Weitere Projekte sind auf <a href="https://github.com/Mechtecs"
                                                         class="brown-text text-lighten-3">GitHub</a> oder <a
                            href="https://gitlab.com/Mechtecs" class="brown-text text-lighten-3">GitLab</a> zu finden.
                </p>


            </div>
            <div class="col l5 s12">
                <h5 class="white-text">Werdegang Bildung</h5>
                <ul>
                    <li><a class="white-text" href="https://lenne.eschool.de/">2006 - 2010 GGS Lennéstraße
                        Düsseldorf</a></li>
                    <li><a class="white-text" href="https://www.luisen-gymnasium.de/">2010 - 2018
                        Luisen-Gymnasium Düsseldorf</a></li>
                    <li><a class="white-text" href="https://www.hhu.de/">2018 - 2020 Heinrich-Heine
                        Universität - Informatik</a></li>
                    <li><a class="white-text" href="https://hs-duesseldorf.de/">ab 2020 Hochschule
                        Düsseldorf - Medientechnik</a></li>
                </ul>
                <h5 class="white-text">Werdegang Beruflich</h5>
                <ul>
                    <li><a class="white-text" href="https://publicplan.de">2016 - 2019 publicplan GmbH -
                        Web-Entwicklung & Kubernetes</a></li>
                    <li><a class="white-text" href="https://www.nexus-united.com/">2019 Nexus United - Shopware
                        Web-Entwickler</a></li>
                    <li><a class="white-text" href="https://tech-effect.de">ab 2019 techeffect - CEO &
                        Entwickler</a></li>
                    <li><a class="white-text" href="https://ai-effect.de">ab 2020 AI:Effect - CTO</a></li>
                </ul>
            </div>
            <div class="col l3 s12">
                <ul>
                    <li><a class="white-text" routerLink="/impressum">Impressum</a></li>
                    <li><a class="white-text" routerLink="/datenschutz">Datenschmutz</a></li>
                    <li><a class="white-text" href="kontakt.html">Kontakt</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            Made with <a class="brown-text text-lighten-3" href="http://materializecss.com">Materialize</a> and
            <a class="brown-text text-lighten-3" href="https://angular.io">Angular</a>
        </div>
    </div>
</footer>