/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

@use "~@material-icons/font/scss/all";
@use "~materialize-css/sass/materialize";

@import url("~typeface-roboto/index.css");

html {
  font-family: Roboto, monospace;
}

nav ul a,
nav .brand-logo {
  color: whitesmoke;
}

p {
  line-height: 2rem;
}

.sidenav-trigger {
  color: #26a69a;
}

.parallax-container {
  min-height: 16em;
  line-height: 0;
  height: auto;
  #color: rgba(255,255,255,.9);
}

.parallax-container .section {
  width: 100%;
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}
