<div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
        <div class="container">
            <h1 class="header center teal-text text-lighten-2">Maximilian H. Schorradt</h1>
            <div class="row center">
                <h5 class="header col s12 light">Mediengestalter / UX Design / Entwickler</h5>
            </div>
        </div>
    </div>
</div>


<div class="container">
    <div class="section">

        <!--   Icon Section   -->
        <div class="row">
            <div class="col s12 m4">
                <div class="icon-block">
                    <h2 class="center"><i class="material-icons-sharp md-camera_roll"></i></h2>
                    <h5 class="center">Analog</h5>
                    <p class="light">In der Freizeit fotografiere ich viel und hatte auch schon einige Möglichkeiten auf
                        Veranstaltungen oder Firmen-Events bilder zu machen. Fuer jede Gelegenheit gibt es das richtige
                        Objektiv. Vom Zeitraffer einer Baustelle bis zur Produkt-Fotografie.</p>
                </div>
            </div>

            <div class="col s12 m4">
                <div class="icon-block">
                    <h2 class="center"><i class="material-icons-sharp md-computer"></i></h2>
                    <h5 class="center">Digital</h5>
                    <p class="light">Von Plakaten und UX-Konzepten bis zur eigenen Website, mit meinem
                        Rundum-sorglos-Paket ist alles zu kleinem Preis machbar!</p>
                </div>
            </div>

            <div class="col s12 m4">
                <div class="icon-block">
                    <h2 class="center"><i class="material-icons-sharp md-settings"></i></h2>
                    <h5 class="center">Mobile</h5>
                    <p class="light">Sei es eine App fuer die eigene Veranstaltung oder die nächste große Idee, mit dem
                        richtigen Know-How und Erfahrung lässt sich alles in kürzester Zeit umsetzen.</p>
                </div>
            </div>
        </div>

    </div>
</div>


<div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
        <div class="container">
            <div class="row center">
                <h5 class="header col s12 light">Jede Aufgabe kann gemeistert werden!</h5>
            </div>
        </div>
    </div>
</div>