<div class="container">
    <h1>Lebenslauf</h1>
    <object data="/assets/downloads/Lebenslauf.pdf" type="application/pdf" width="100%" height="1024px">
        <embed src="/assets/downloads/Lebenslauf.pdf" type="application/pdf">
    </object>
    <p><a href="/assets/downloads/Lebenslauf.pdf" download>Download</a></p>
</div>